@font-face {
  font-family: 'Trebutech MS';
  src: url('./assets/fonts/TrebutechMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Trebutech MS', sans-serif; /* Fallback to sans-serif */
  color: #949494;
}

code {
  font-family: 'Trebutech MS';
  src: url('./assets/fonts/TrebutechMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color: #949494;
}
